<div class="pagination-container" *ngIf="totalPages && totalPages > 1">
  <div class="pagination">
    <!-- Previous button -->
    <a 
      class="page-link"
      [class.disabled]="!hasPrevious"
      (click)="onPrevious()">
      Prev
    </a>

    <!-- Page numbers -->
    <a 
      *ngFor="let page of pageNumbers"
      class="page-link"
      [class.active]="page === currentPage"
      (click)="onPageClick(page)">
      {{ page }}
    </a>

    <!-- Next button -->
    <a 
      class="page-link"
      [class.disabled]="!hasNext"
      (click)="onNext()">
      Next
    </a>
  </div>
</div>

