<div class="table-container">
  <table mat-table [dataSource]="invoices || []" class="invoice-table">
    
    <!-- Select Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          [checked]="isAllSelected()"
          [indeterminate]="selectedInvoices && selectedInvoices.length > 0 && !isAllSelected()"
          (change)="onSelectAll($event)">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let invoice">
        <mat-checkbox
          [checked]="isSelected(invoice.invoiceNumber)"
          [disabled]="!invoice.canSelect"
          (change)="onToggleSelection(invoice.invoiceNumber)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('EpayStatus')" class="sortable">
        Status
      </th>
      <td mat-cell *matCellDef="let invoice">
        <a *ngIf="invoice.ePayStatus && (invoice.ePayStatus === 'Verifying' || invoice.ePayStatus === 'Sent')"
           [routerLink]="['/confirmation']"
           [queryParams]="{RefNo: invoice.ePayReferenceNumber}">
          {{ invoice.ePayStatus }}
        </a>
        <span *ngIf="!invoice.ePayStatus || (invoice.ePayStatus !== 'Verifying' && invoice.ePayStatus !== 'Sent')">
          {{ invoice.ePayStatus || '' }}
        </span>
      </td>
    </ng-container>

    <!-- Invoice Number Column -->
    <ng-container matColumnDef="invoiceNumber">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opiinvno')" class="sortable">
        Invoice #
      </th>
      <td mat-cell *matCellDef="let invoice">
        <a *ngIf="!invoice.hideDetail && invoice.creditNumber === 0"
           href="javascript:void(0)">
          {{ invoice.invoiceNumber }}
        </a>
        <span *ngIf="invoice.hideDetail || invoice.creditNumber !== 0">
          {{ invoice.creditNumber === 0 ? invoice.invoiceNumber : '' }}
        </span>
      </td>
    </ng-container>

    <!-- Credit Number Column -->
    <ng-container matColumnDef="creditNumber">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opicrmnr')" class="sortable">
        Credit #
      </th>
      <td mat-cell *matCellDef="let invoice">
        <a *ngIf="!invoice.hideDetail && invoice.creditNumber !== 0"
           href="javascript:void(0)">
          {{ invoice.creditNumber }}
        </a>
        <span *ngIf="invoice.hideDetail || invoice.creditNumber === 0">
          {{ invoice.creditNumber !== 0 ? invoice.creditNumber : '' }}
        </span>
      </td>
    </ng-container>

    <!-- Ship To Column -->
    <ng-container matColumnDef="shipTo">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opishpno')" class="sortable">
        ShipTo
      </th>
      <td mat-cell *matCellDef="let invoice">{{ invoice.shipToNumber }}</td>
    </ng-container>

    <!-- Invoice Date Column -->
    <ng-container matColumnDef="invoiceDate">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opiDagedt')" class="sortable">
        Inv Date
      </th>
      <td mat-cell *matCellDef="let invoice">{{ formatDate(invoice.invoiceDate) }}</td>
    </ng-container>

    <!-- Order Number Column -->
    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opiOrdno')" class="sortable">
        Order #
      </th>
      <td mat-cell *matCellDef="let invoice">{{ invoice.orderNumber }}</td>
    </ng-container>

    <!-- Trip Number Column -->
    <ng-container matColumnDef="tripNumber">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('inhTripNo')" class="sortable">
        Trip #
      </th>
      <td mat-cell *matCellDef="let invoice">{{ invoice.tripNumber || '' }}</td>
    </ng-container>

    <!-- RPP Number Column -->
    <ng-container matColumnDef="rppNumber">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('[RPP #]')" class="sortable">
        RPP #
      </th>
      <td mat-cell *matCellDef="let invoice">{{ invoice.rppNumber }}</td>
    </ng-container>

    <!-- PO Number Column -->
    <ng-container matColumnDef="poNumber">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opiponum')" class="sortable">
        PO #
      </th>
      <td mat-cell *matCellDef="let invoice">{{ invoice.poNumber }}</td>
    </ng-container>

    <!-- Invoice Amount Column -->
    <ng-container matColumnDef="invoiceAmount">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opiInvam')" class="sortable number-column">
        Inv Amt
      </th>
      <td mat-cell *matCellDef="let invoice" class="number-cell">
        {{ formatCurrency(invoice.invoiceAmount) }}
      </td>
    </ng-container>

    <!-- Amount Paid Column -->
    <ng-container matColumnDef="amountPaid">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opiTtlcr')" class="sortable number-column">
        Amt Pd
      </th>
      <td mat-cell *matCellDef="let invoice" class="number-cell">
        {{ formatCurrency(invoice.amountPaid) }}
      </td>
    </ng-container>

    <!-- Balance Column -->
    <ng-container matColumnDef="balance">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opiOpamt')" class="sortable number-column">
        Balance
      </th>
      <td mat-cell *matCellDef="let invoice" class="number-cell">
        {{ formatCurrency(invoice.balance) }}
      </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('opicatcd')" class="sortable">
        Code
      </th>
      <td mat-cell *matCellDef="let invoice">{{ invoice.categoryCode }}</td>
    </ng-container>

    <!-- Days Column -->
    <ng-container matColumnDef="days">
      <th mat-header-cell *matHeaderCellDef (click)="onSort('Days')" class="sortable number-column">
        Days
      </th>
      <td mat-cell *matCellDef="let invoice" class="number-cell">{{ invoice.days }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- No data row -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="no-data">
          {{ loading ? 'Loading...' : 'No Data To Display' }}
        </div>
      </td>
    </tr>
  </table>
</div>

